PORT=8000
DB_COLLECTION_PREFIX=cad_
MONGODB_URI=mongodb://127.0.0.1:27017/cad_db
JWT_ACCESS_SECRET=replace_with_a_secret_at_least_32_chars
JWT_REFRESH_SECRET=replace_with_a_secret_at_least_32_chars
CAD_MODEL_API_URL=http://127.0.0.1:5000
CAD_MODEL_TIMEOUT_MS=180000
PRIVATE_API_KEY=sk_test_51OZwfdD9Tl1Nn5D1s8w2yqAAKk1rVmAGV4nNn9KFQzcg5x4VOAY4Ev4Uv6sjyPOo0obMp6a8OBh3o1OquGcyThDm00y2XzG2Dq
GOOGLE_OAUTH_CLIENT_ID=40625322310-94h85g02s9j8bi906fn2n8td86e0bpjn.apps.googleusercontent.com
GOOGLE_OAUTH_CLIENT_SECRET=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
GOOGLE_OAUTH_REDIRECT_URI=https://anesup.com/oauth2callback
